@model IEnumerable<TestCandidate.Models.OrderDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a asp-controller="Orders" asp-action="Details" asp-route-id="@item.Order.OrderID">
                    @Html.DisplayFor(modelItem => item.Order.OrderNumber)
                </a>
            </td>
            <td>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.ProductID">
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
