@model IEnumerable<TestCandidate.Models.RunningNumber>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RunningMonth">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RunningMonth">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RunningMonth">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
